<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="">
    <!----------- Footer ------------>
    <div class="footer-bs">
        <br>
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2>Contacto</h2>
                <p> Calle 5 de Mayo #1208 Col. Serdan Tehuacán, Puebla C.P. 75720 </p>
                <p>Tel: +52 238 382 3977</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>Menu</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>            
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Síguenos</h4>
            	<ul class="pages">
                	<li><a href="https://es-la.facebook.com/UnidadEducativaProfrPorfirioOMorales/" target="_blank">Facebook</a></li>
                	<li><a href="#">Instagram</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
             
                    
              
            </div>
        </div>
    </div>

</div>